body{
    background: #e39d9d;
}

#announcement {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    background:antiquewhite;
    width: 49%;
    height: 90%;
    border-radius: 20px;

}
h1{
    text-align: center;
}


